/* =========================================
   AUTH BOX (login/register container)
========================================= */
.auth-box {
    max-width: 420px;
    margin: 0 auto;
    text-align: center;
}

/* INPUT FIELDS */
.auth-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 14px;
    border-radius: 8px;
    border: 1px solid #999;
    background-color: #f3eeee;
    font-size: 15px;
}

/* BUTTON */
.auth-box button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #9cad9d;
    color: #222;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

.auth-box button:hover {
    background-color: #899a8a;
}

/* TEXT BELOW BUTTON */
.auth-box p {
    margin-top: 12px;
    font-size: 14px;
}

.auth-box a {
    color: #d8c0e1;
    font-weight: bold;
    text-decoration: none;
}

.auth-box a:hover {
    text-decoration: underline;
}